<h2>Welcome to Bright Ideas, Login to share your Bridea!</h2>

<div class="row">
    <div class="col-6 mt-4">
        <partial name="register"/>
    </div>
    <div class="col-6 mt-5">
        <partial name="login" />
    </div>
</div>